<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">



<suite name="Suite-1">

	<listeners>
		<listener class-name="customListeners.Listeners"></listener>
		
	</listeners>
	<test name="suiteTest1">

		<classes>
			<class name="Testpackage2.TestCase1" />


		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
